<div class="container-fluid">
  <p class="h3 p-3">{{serieDetail.name}}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img class="img-fluid" src="{{serieDetail.poster}}" />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt> Channel</dt>
        <dd>{{serieDetail.channel}}</dd>
        <dd>{{serieDetail.description}}</dd>
        <hr>
        <dt class="bold">webpage</dt>
        <dd>{{serieDetail.webpage}}</dd>
      </dl>
    </div>
  </div>
</div>
